.logout-button {
  padding: 6px 10px;
  background-color: white;
  color: #c33125;
  border: 2px solid #c33125;
  border-radius: 6px;
  cursor: pointer;
  margin: 1rem auto;
}

.logout-button:hover {
  background-color: #c33125;
  color: white;
}

.logout-p {
  font-weight: 700;
  margin: 0 auto;
}
