.signup-container {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.h1-signup {
  font-size: 1.8rem;
  margin: 0;
}

.signup-input-label {
  display: block;
  margin-top: 1rem;
  font-weight: 700;
}

.signup-input {
  padding: 6px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid black;
  font: inherit;
  font-size: 1rem;
}

.signup-input-error {
  padding: 6px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid red;
  font: inherit;
  font-size: 1rem;
}

.signup-error-message {
  color: red;
  font-weight: 700;
  margin-top: 3px;
}

.signup-submit-button-error {
  margin: 1.5rem auto 0 auto;
  padding: 6px 10px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 6px;
  color: grey;
  cursor: not-allowed;
}

.signup-submit-button {
  margin: 1.5rem auto 0 auto;
  padding: 6px 10px;
  background-color: white;
  border: 2px solid #007bff;
  border-radius: 6px;
  color: #007bff;
  cursor: pointer;
}

.signup-submit-button:hover {
  background-color: #007bff;
  border: 2px solid #007bff;
  color: white;
}
