.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 2%;
  background-color: #007bff;
}

.header-title {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.login-button {
  color: white;
  background-color: #007bff;
  border: 2px solid white;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto;
  font-weight: 700;
}

.login-button:hover {
  color: #007bff;
  background-color: white;
}

.header-login-link {
  margin-left: auto;
  text-decoration: none;
  color: black;
}
