.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.h1-title {
  font-size: 1rem;
  margin: 0 auto 1.5rem auto;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login-input {
  border: 1px solid black;
  font: inherit;
  border-radius: 4px;
  padding: 6px;
}

.login-form-button {
  width: 100%;
  padding: 10px;
  font: inherit;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.login-form-button:disabled {
  color: #6f6f6f;
  background-color: #c3c3c3;
}

.google-login {
  margin-top: 5%;
  padding: 10px;
  font: inherit;
  border-radius: 6px;
  border: none;
}

.p-login {
  margin: 1rem auto;
}

.signup-link {
  margin: 0 auto;
  padding: 6px;
  border-radius: 6px;
  border: 2px solid green;
  background-color: white;
  color: green;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}

.signup-link:hover {
  background-color: green;
  color: white;
}
